html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

textarea {
    resize: none;
    width: 100%;
    height: 100%;
    min-height: 100px;
}

div .wide {
    width: 100%;
}

div .logo {
    max-height: 8vh;
    max-width: 45%;
}

.buffer {
    margin-top: 10px;
}

.pad {
    padding-left: 3vw;
    padding-right: 3vw;
}

.form-horizontal {
    text-align: center;
    margin-left: 5%;
    width: 90%;
}

/*
 * This is to left-align elements within the Variable Filter
 * and works on the "multiselect" element.
 */
.ms-elem-selectable {
    text-align: left;
}

#main {
    width: 100%;
    height: 100%;
}

#sidebar {
    position: relative;
    max-height: 100%;
}

.map {
    height: 100vh;
}

#map-container {
    height: 100vh;
    width: 70vw;
    float: right;
}

#filter {
    padding-top: 10px;
    padding-left: 27px;
    padding-right: 27px;
    min-width: 300px;
    width: 29%;
    max-height: 100vh;
    float: left;
    overflow-y: auto;
}

/* Loading Modal CSS */
.load-modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 30vw;
    top: 0;
    width: 70vw; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    animation: fadeEffect;
    animation-duration: 0.2s;
    animation-delay: 1s;
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modal-dialog.load {
    top: 40vh !important;
    width: 30% !important;
}

/* Quicklook Modal CSS */
.modal-dialog.zoom {
    width: 85vh !important;
}

#modal-quicklook-image {
    width: 80vh;
    border: solid 1px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#main_load {
    height: 10vh;
    max-width: 80%;
}

.gm-style-iw {
    max-height: 300px !important;
    width: 620px !important;
    top: 15px !important;
    left: 0 !important;
    overflow-y: auto !important;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
    border-radius: 2px 2px 5px 5px;
}

#iw-title {
    width: 620px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
    background-color: #48b5e9;
    color: white;
    margin: 1px;
    border-radius: 2px 2px 0 0;
}

.iw_table {
    margin: 10px;
    width: 620px;
}

.quicklook {
    height: 110px;
    min-width: 110px;
    cursor: pointer;
    padding: 3px;
    border: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.2);

}

.left {
    padding-left: 0px !important;
}

.eightypc {
    width: 82% !important;
}

/* Map tools CSS */
.tools {
    position: absolute;
    right: 50px;
    top: 10px;
    z-index: 1;
    background-color: white;
    padding: 3px;
    border-radius: 3px;
    width: 185px;
    height: 40px;
}

.vertical {
    display: inline-block !important;
    line-height: 40px;
}

#polygon-instructions {
    position: absolute;
    top: 50px;
    right: 45px;
    max-width: 300px;

}

/* Export modal loading animation */
.loading_block {
    display: none;
    position: absolute;
    left: 16px;
    top: 110px;
    background-color: rgba(255, 255, 255, 0.63);
    width: 95%;
    height: 50%;

}

.loading_img {
    height: 100%;

}

#copy {
    position: absolute;
    right: 16px;
    top: 110px;
    color: white;
}

/* Map Key */
.keyBox {
    border: solid;
    border-width: 3px;
    background-color: rgba(0, 0, 0, 0.1);
    width: 20px;
}

.pad-left {
    padding-left: 20px;
    text-align: left;
}

#key {
    position: absolute;
    bottom: 30px;
    left: calc(30vw + 10px);
    background-color: rgba(255, 255, 255, 0.90);
    padding: 8px;
    border-radius: 3px;
}

#collapse_tree .list-group {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 0;
}

#welcome-infomessage {
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 5px;
}

/* Title text slider */
.slider {
	overflow-y: hidden;
	max-height: 500px; /* approximate max height */

	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slider.closed {
	max-height: 0;
}


/* ------------------------------ */
/* Data coverage popup modal */
.coverage-modal-content {
    margin: auto;
    margin-top: 5vh;
    display: block;
    width: 80%;
    max-width: 700px;

}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.imgclose {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.imgclose:hover,
.imgclose:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/* Rectangle tool slider */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 0;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}